Bem-vindo ao aluga temporada!

<%= link_to 'Cadastrar Imóvel', new_property_path %>
<%= link_to 'Ver propostas', proposals_path %>

<ul>
  <% @regions.each do |region| %>
      <li><%= link_to region.name, region %></li>
  <% end %>
</ul>